<%= form_with(model: twit) do |form| %>
  <% if twit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twit.errors.count, "error") %> prohibited this twit from being saved:</h2>

      <ul>
        <% twit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :twit %>
    <%= form.text_area :twit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
